<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zineyu.forum.backend.mapper.PostMapper">

<select id="selectPostPage" resultType="com.zineyu.forum.backend.dto.post.PostPreviewDto">
    SELECT
    p.id,
    p.title,
    p.preview,
    p.create_time as createTime,
    p.likes,
    u.id as authorId,
    u.username as authorName,
    u.avatar as authorAvatar
    FROM post p
    LEFT JOIN user u ON p.author_id = u.id
    ORDER BY p.create_time DESC
</select>

</mapper>